= content_for :flash do
  - flash.keys.each do |key|
    .flash{ class: key }
      %p= flash[key.to_sym]

= form_tag :sessions, id: "session", class: "sign_in" do
  #main
    %fieldset
      %dl
        %dt= label_tag :email, "Email Address"
        %dd= email_field_tag :email, params[:email], autofocus: true
        %dt= label_tag :password
        %dd= password_field_tag :password, nil
    %fieldset.actions
      = submit_tag 'Sign In'
