= content_for :flash do
  - flash.keys.each do |key|
    .flash{ class: key }
      %p= flash[key.to_sym]

%h1
  Register

= form_for user, html: { class: 'registration' } do |f|
  %fieldset
    %header
      %h1 Personal Information
    %dl
      %dt= f.label :company_name, 'Company'
      %dd= f.text_field :company_name
    %dl.half
      %dt= f.label :first_name, 'First'
      %dd= f.text_field :first_name
    %dl.half
      %dt= f.label :last_name, 'Last'
      %dd= f.text_field :last_name
  %fieldset
    %header
      %h1 Account Information
    %dl.half
      %dt= f.label :email, 'Email Address'
      %dd= f.email_field :email
    %dl.half.clear
      %dt= f.label :password
      %dd= f.password_field :password
    %dl.half
      %dt= f.label :password_confirmation, 'Confirm Password'
      %dd= f.password_field :password_confirmation
  %fieldset.actions
    = f.submit "Register"
    = link_to "Go Back", root_path
