= content_for :page_head do
  = render 'shared/utilities_nav'

= render 'shared/flash_message'

%section.metadata#departments
  .new_content
    = form_for Department.new do |f|
      %fieldset
        %h1
          = f.label :department_name, "Add New Department"
        %p
          = f.text_field :department_name, placeholder: "Department Name"
      %fieldset.actions
        = f.submit "Add"

  .sortable(data-results_per_page="25")
    %table
      %thead
        %tr
          %th Department Name
          %th.unsorted
      %tbody
        = render partial: 'department_list', collection: departments, as: "department"

#modal_form.modal
  = render 'departments/edit_modal'
