%script#indexTemplate(type='text/html')
  %tr
    %td{ data: { bind: "text: last_name" } }
    %td{ data: { bind: "text: first_name" } }
    %td{ data: { bind: "text: phone" } }
    %td{ data: { bind: "text: badge_id" } }
    %td{ data: { bind: "text: employee_number" } }
    %td{ data: { bind: "text: department_name" } }
    %td{ data: { bind: "text: category_name" } }
    %td{ data: { bind: "text: job_title_name" } }
    %td.right
      = link_to "Edit", "#", class: "icon_button edit", data: { bind: "click: function() { $parent.editTrainee($data) }" }
      = link_to "Remove", "#", class: "icon_button remove", data: { bind: "click: function() { $parent.destroyTrainee($data) }" }

%script#newTemplate(type='text/html')
  = form_for :trainee, html: { id: "new_trainee", data: { bind: "submit: $parent.createTrainee" } } do |f|
    = render "form", f: f

%script#editTemplate(type='text/html')
  = form_for :trainee, html: { id: "edit_trainee", data: { bind: "submit: $parent.updateTrainee" } } do |f|
    = render "form", f: f
