= content_for :page_head do
  %h1 Create New Trainee

%section
  = form_for trainee, html: { multipart: true } do |f|
    %fieldset
      %dl.short
        %dt= f.label :first_name
        %dd= f.text_field :first_name
      %dl.short
        %dt= f.label :last_name
        %dd= f.text_field :last_name
      %dl.short
        %dt= f.label :phone
        %dd= f.text_field :phone, placeholder: "(###) ###-####"
      %dl.short
        %dt= f.label :badge_id, "Badge ID"
        %dd= f.text_field :badge_id
      %dl.short
        %dt= f.label :employee_number, "Employee #"
        %dd= f.text_field :employee_number
      %dl.short
        %dt= f.label :department_id, "Department"
        %dd= f.select :department_id, options_for_select(departments), include_blank: "Select department"
      %dl.short
        %dt= f.label :job_title_id, "Job Title"
        %dd= f.select :job_title_id, options_for_select(job_titles), include_blank: "Select job title"
      %dl.short
        %dt= f.label :category_id, "Category"
        %dd= f.select :category_id, options_for_select(categories), include_blank: "Select category"

    %fieldset.actions
      = f.submit "Save Trainee"
      = link_to "Cancel", trainees_path, class: "close"
