= content_for :page_head do
  = render 'shared/utilities_nav'

= render 'shared/flash_message'

%section.metadata#categories
  .new_content
    = form_for Category.new do |f|
      %fieldset
        %h1
          = f.label :category_name, "Add New Category"
        %p
          = f.text_field :category_name, placeholder: "Category Name"
      %fieldset.actions
        = f.submit "Add"

  .sortable(data-results_per_page="25")
    %table
      %thead
        %tr
          %th Categories
          %th.unsorted
      %tbody
        = render partial: 'categories/category_list', collection: categories, as: :category

#delete_modal.modal
  #confirm_delete
    %header
      %h1.title
      = link_to "Close", "#", class: "close"
    .actions
      = link_to "Yes", "#", class: "button confirm"
      = link_to "No", "#", class: "button close"

#modal_form.modal
  = render 'categories/edit_modal'
