!!!
%html(lang="en-US")
  %head
    %title Training Tracker 7
    %meta(charset="UTF-8")
    %meta(content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport")
    = stylesheet_link_tag "application"
    /[if IE]
      = javascript_include_tag "html5"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags
  %body
    %header
      .column
        %h1= link_to "Training Tracker 7", root_path
        .session
          - if signed_in?
            %p 
              Welcome, #{current_user.first_name}
            = link_to "Sign Out", sign_out_path, class: "button", method: :delete
          - else
            = link_to "Sign In", sign_in_path
            = link_to "Register", new_register_path
        %nav
          %ul
            %li{ class: active_home }= link_to "Home", root_path
            - if signed_in?
              %li{ class: active_if("trainees") }= link_to "People", trainees_path
              - ["Tasks", "Training"].each do |nav|
                %li= link_to nav, "#"
              %li{ class: active_if("utilities") }= link_to "Utilities", departments_path
              %li{ class: active_if("users") }= link_to "Admin", users_path

    #page_head
      .column
        = yield :page_head

    = yield :flash

    #content.column
      = yield

    #modal_layer
